@CHARSET "UTF-8";

#main {
	position: relative;
	bottom: 50px;
}

.title {
	mrgin-top: -500px;
	text-align: center;
}

#admin-contents {
	width: 453px;
	height: 50px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}

body {
	width: 100%;
	font-family: 'メイリオ', sans-serif;
	font-size: 18px;
	color: #333333; /* 黒 */
}

.text-title {
	text-align: center;
}

input.txt2 {
	height: 40px; /*入力欄の縦の長さ*/
	width: 450px; /*入力欄の横の長さ*/
	background-color: #f7f7f7; /*入力欄の中の色*/
	border-radius: 5px; /*入力欄の角の丸み*/
	font-size: 18px; /*入力欄の文字サイズ*/
}

.productDescription {
	resize: none;
	height: 200px; /*入力欄の縦の長さ*/
	width: 450px; /*入力欄の横の長さ*/
	background-color: #f7f7f7; /*入力欄の中の色*/
	border-radius: 5px; /*入力欄の角の丸み*/
	font-size: 18px; /*入力欄の文字サイズ*/
}

.errormessage {
	color: #ed7d22;
}

input.txt3 {
	height: 40px; /*入力欄の縦の長さ*/
	width: 450px; /*入力欄の横の長さ*/
	background-color: #f7f7f7; /*入力欄の中の色*/
	border-radius: 5px; /*入力欄の角の丸み*/
	font-size: 18px;
	height: 40px; /*入力欄の文字サイズ*/
}

textarea {
	resize: none;
	height: 200px; /*入力欄の縦の長さ*/
	width: 450px; /*入力欄の横の長さ*/
	background-color: #f7f7f7; /*入力欄の中の色*/
	border-radius: 5px; /*入力欄の角の丸み*/
	font-size: 18px; /*入力欄の文字サイズ*/
}

textfield {
	resize: none;
	height: 200px; /*入力欄の縦の長さ*/
	width: 450px; /*入力欄の横の長さ*/
	background-color: #f7f7f7; /*入力欄の中の色*/
	border-radius: 5px; /*入力欄の角の丸み*/
	font-size: 18px; /*入力欄の文字サイズ*/
}

select {
	width: 225px;
	height: 40px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.AllBox {
	width: 450px;
}

.submit_btn {
	font-size: 20px;
	clear: both;
	width: 200px;
	height: 40px;
	margin: 5px;
	color: #FFF;
	background: #ed7d22;
	border-radius: 20px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	border: solid 2px #d27d00;
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	position: relative;
	left: 120px;
}

#correction {
	position: relative;
	left: 200px;
	color: #ed7d22;
}

img {
	width: 225px;
	max-height: 225px;
}

header img{
	width: auto;
	height: 70px;
	margin-left: 20px;
	display: block;
	z-index:1;

}