@CHARSET "UTF-8";

body {
	font-family: Meiryo , sans-serif;
}


#contents01 {

	/* width: 70%;
	max-width: 1040px; */

	text-align: center;

}

.info{
	font-size:30px;
	text-align:center;
	font-weight:bold;
}

.submit_btn {
	font-size: 20px;
	clear: both;
	width: 200px;
	height: 40px;
	margin: 5px;
	color: #FFF;
	background: #ed7d22;
	border-radius: 20px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	border: solid 2px #d27d00;
	text-align:center;
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
}
.submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}

