@CHARSET "UTF-8";

h1 {
	text-align:center;
	color: #333333;
	font-size: 30px;
	font-family: Hiragino Kaku Gothic ProN;
}

.submit_btn {
	width: 200px;
	height: 40px;
	font-size: 20px;
	background-color: #ed7d22;
	color: #ffffff;
	border-style: none;
	border-radius: 20px;
}

img{
	float: left;
}

.productNameKana{
	font-size: 12px;
}

.productName{
	font-weight:600;
	font-size: 20px;
	display:inline-block;
	border-bottom: solid 3px #ed7d22;
}

.list{
	font-size:18px;
}

.productInfo{
	font-size: 18px;
}

.subtotal{
	font-size: 20px;
	border-bottom: solid 3px #ed7d22;
	display:inline-block;
}

.horizontal-list-table{
	text-align:center;
}

.listdivide{
	display:inline-block;
	border-bottom: 2px solid #f7f7f7;
	margin-bottom:10px;
}


.syoukei{
	font-size:24px;
	font-weight:1px;
}

.checkbox {
	float: left;
	margin: 109px 20px 0px 0px;
}

h2 {
	clear: both;
	font-size: 30px;
}

.fat-text{
	font-weight:600;
}

.Side-by-side{
}


.submit_btn {
	clear: both;
	width: 230px;
	height: 40px;
	margin: 5px;
	margin-left:250px;
	color: #ffffff;
	background: #ed7d22;
	border-radius: 20px;
	border: none;
	text-align: center;
}