@CHARSET "UTF-8";

h1 {
	color: #333333;
	font-size: 30px;
	margin-top: 0;
}

#contents {
	margin-top: 80px;
	padding: 0;
	line-height: 1.6;
	letter-spacing: 1px;
	font-family: "メイリオ", sans-serif;
	font-size: 20px;
	text-align: center;
	color: #333333;

}

#main {
	font-family: "メイリオ", sans-serif;
	text-align: center;
	color: #333;
}

p{
	font-size:18px;
}