@CHARSET "UTF-8";


h1 {
color: #333333;
font-size: 30px;
margin-top: 0px;
}
th {
color: #333333;
}
/*各入力画面のコンテンツ側*/
#contents {
	margin: 0 auto;/*中心にする*/
	line-height: 1.6;/*幅の微調整*/
	letter-spacing: 1px;/*幅の微調整*/
	font-family: "メイリオ", sans-serif;/*フォント指定*/
	font-size: 18px;/*文字サイズ*/
	text-align: center;/*テキスト中心*/

}

 .vertical-list-table {
margin: 0 auto;
}

.error-message{
color: #ed7d22;
font-size:12px;
}

/*入力欄の中の文字色（入力すると消えるヒント）指定（webkit＝GoogleChrome、Safariのみ対応）*/
.txt::-webkit-input-placeholder {
	color: #aaaaaa;
}
.txt2::-webkit-input-placeholder {
	color: #aaaaaa;
}

input.txt{
height:40px;
width: 225px;
background-color: #f7f7f7;
border-radius: 5px; /*角の丸み*/
font-size: 18px;


}
/*入力欄CSS*/
input.txt2{
height:40px;/*入力欄の縦の長さ*/
width: 450px;/*入力欄の横の長さ*/
background-color: #f7f7f7;/*入力欄の中の色*/
border-radius: 5px; /*入力欄の角の丸み*/
font-size: 18px;/*入力欄の文字サイズ*/
}


/*ボタンのCSS*/
.submit_btn {
	width: 200px; /*ボタンの横の長さ*/
	height: 40px; /*ボタンの縦の長さ*/
	/* display: inline-block; 多分要らないかも*/
	font-size: 20px; /*ボタン文字サイズ*/
	background-color: #ed7d22; /*ボタンの色*/
	color: #FFF; /*ボタン文字の色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
}

.submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}
