@CHARSET "UTF-8";

.slider img {
	/* width: 1340px; */
	/* width: 100%; */
	max-width: 1010px;
	/* min-width: 610px; */
	height: 350px;
	display: flex;
	justify-content: center;
	object-fit: cover;
	z-index:2;
}

.slide_img{
	position:relative;
}
.slide_img img.cover{
	position:absolute;
	top:0;
	left:0;

	/* width: 1340px; */
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
	cursor: pointer;

	z-index:10;
}
.slide_img img.cover:hover{
	z-index:1;
}



/* スライドのカテゴリ名表示 */
.slide_img .Category_name{
	line-height:40px;
	text-align:center;
	font-size:20px;
	color:white;
	position:absolute;
	bottom:0;
	left:46.2%;
	z-index:5;
	display:block;
	letter-spacing:0.5em;
}
.slide_img .Category_nameAS{
	line-height:40px;
	text-align:center;
	font-size:20px;
	color:white;
	position:absolute;
	bottom:0;
	left:42.5%;
	z-index:5;
	display:block;
	letter-spacing:0.5em;
}
/* スライドのカテゴリ名背景 */
.slide_img .Category_none{
	background-color:#333333;
	opacity:0.6;
	width:1050px;
	height:40px;
	position:absolute;
	bottom:0;
	z-index:4;
	display:block;
}

/* ************ */



/*スライダー*/
/*. bx-wrapper .bx-pager.bx-default-pager  {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(150, 150, 150, 0.75);
  width: 100%;
} */



.box-text {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: 'メイリオ', sans-serif;
	color: #333;
	margin: 0;
}

.box ul {
	list-style-type: none;
	/* margin: 0 30px 0 40px; */
	/* width: 940px; */
	width: 100%;
	padding-left: 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.box li {
	/* float: left; */
	width: 100%;
	/* height: 100%; */
	margin: 0;
	margin: 10px;
	position: relative;
	height: auto;
}

.box li:before {
  content: "";
  display: block;
  padding-top: 100%; /* ここを100％にすることで正方形になる */
}

.box li a {
	/* padding: 12px; */
	color: #333;
	font-size: 15px;
	font-family: 'メイリオ', sans-serif;
	text-decoration: none;
}

.box img {
	/* width: 230px;
	height: 170px; */
	width: 100%;
	height: 70%;
	border-radius: 5px;
	/* margin: 15px; */
	border:solid 0.8px #f7f7f7;
	position: absolute;
	top: 0;
	left: 0;

}

.box img:hover {
    opacity: 0.7; /*0で完全に透過、1だと透過しない*/
}

.box .text {
	position: absolute;
	width: 100%;
	top: 80%;
	left: 0;
	font-size: 16px;
	text-align: center;
	/* margin-top:-10px;
	margin-left:20px; */
	display:block;
	font-weight: bold;
}