@CHARSET "UTF-8";
body{
	width:1920px;
	height:1080px;
	font-family:Meiryo;
}
#contents {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
}
/* 商品一覧CSS */
h1 {
color: #ed7d22;
font-size:22px;
}
h1 img.ele{
	width:25px;
	height:25px;
}
h1 img.fish{
	width:30px;
	height:25px;
}
h1 img:active{
	color:orange;
}


#product-list{

}

.product-list-box{
/* 	margin:0px 30px;
	padding: 0;
	float:left;
	text-align: center;
*/
	list-style:none;

	text-align : center;
	display : inline-block;
	margin-bottom:10px;
}
img:hover{
	opacity:0.5;/* 薄く透過 */
}
.item-image-box-200{
	width:350px;
	height:200px;
	border:2px solid gray;
	background-color:#f9f9f9;
	cursor: pointer;
	object-fit:cover;

}

.smallMoji{
	font-size:9px;
	color:#333333;
}
.largeMoji{
	font-size:16px;
	color:#333333;
}


/* ページネーションCSS */
.pager{
	clear:left;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 30px;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    background-color:skyblue;
    color:#ff8040;
}


