@CHARSET "UTF-8";

body {
	font-family: Meiryo , sans-serif;
}

#contents {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
}
/* 商品一覧CSS */

/* 一覧タイトル */
h1 {
	color: #ed7d22;
	font-size: 22px;
	text-align: center;
}

h1 img.ele {
	width: 25px;
	height: 25px;
}

h1 img.fish {
	width: 30px;
	height: 25px;
}

h1 img:hover {
	cursor: pointer;
}

/* 結果なしの場合 */
.info{
	font-size:30px;
	font-weight:boid;
	text-align:center;
}
.submit_btn {
	font-size: 20px;
	clear: both;
	width: 200px;
	height: 40px;
	margin: 5px;
	margin-left: 250px;
	color: #FFF;
	background: #ed7d22;
	border-radius: 20px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	border: solid 2px #d27d00;
	text-align: center;
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
}
.submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}


/* 一覧リスト */
.product-list-box { /* 画像全体 */
	list-style: none;
	text-align: center;
	display: inline-block;
}

.product-list-box a {
	text-decoration: none;
}

.product-list-box img:hover { /* ホバーすると薄く透過 */
	opacity: 0.5;
	border: 5px solid orange;
}

.item-image-box-200 { /* 画像単体 */
	width: 250px;
	height: 180px;
	border: 2px solid gray;
	background-color: #f9f9f9;
	cursor: pointer;
	object-fit: cover;
	margin: 0 15px;
}

.product-list-box li img {
	color: #f9f9f9;
}

/* 商品の文字 */
.smallMoji {
	font-size: 9px;
	color: #333333;
}

.largeMoji {
	font-size: 16px;
	color: #333333;
}

/* ページネーションCSS */

.pager {
	clear: left;
	font-size: 30px;
	color: black;
	margin:0 5px;
	border-bottom:3px solid #ed7d22;
}

#Numbers{
	text-decoration: none;
	text-align:center;
	display:inline-block;

	margin: 0 10px;

}
#Numbers:hover{
	text-decoration: none;
	text-align:center;
	display:inline-block;
	margin: 0 10px;
	width:35px;
	height:35px;
	line-height:35px;
	border-radius:50%;
	border:2px solid gray;
	vertical-align:middle;
	overflow:hidden;
/* 	transition:.4s; */
}

.pager .page_num {
	color:#ff8040;
	background:#f7f7f7;
}

.pager .zengo{
	color:#ff8040;
	background:#f7f7f7;
}

.pager .disabled{
	color:black;
	background:none;
	pointer-events: none;
}



.page_up{
	font-size:3em;
	color:#ff8040;
}