@CHARSET "UTF-8";

body {
	font-family: "Meiryo", sans-serif;
}

/* メイン画像エリア */
.big-picture {
	position: relative;
	margin-bottom:450px;
}

.item-image-box-back { /* 背景画像 */
	position: absolute;
	top: 0;
	width: 95%;
	max-width: 1010px;
	margin-left: 2.5%;
	height: 450px;
	display: flex;
	justify-content: center;
	object-fit: cover;
	border-radius: 5px;
	filter: brightness(0.5) blur(2.5px); /* ぼかしフィルター(pxで指定) */
	z-index: 1;
}

.item-image-box-320 { /* メイン画像 */
	position: absolute;
	top: -3px;
	margin-left: 10%;
	position: absolute;
	top: 0;
	width: 80%;
	max-width: 1000px;
	height: 450px;
	display: flex;
	justify-content: center;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgba(196, 202, 210, 0.5);
	/* 横/縦/影の長さ/色(R,G,B,透明度) */
	z-index: 10;
}

/* 商品情報エリア */
.details_area { /* 商品情報全体 */
	width: 100%;
	float: left;
	height:500px;
}


.details_box{
	width:65%;
	margin-left:-10px;
	float:left;
	height:300px;
}



.details_box ul li{
	list-style:none;
}


.productNameKana {
	font-size: 12px;
	padding-top: 8px;
}

.daimei {
	font-size: 22px;
	font-weight: bold;
}

.naiyou {
	font-size: 16px;
	width: 100%;
}

.releaseCompany {
	padding-top: 40px;
	font-weight: 100;
	font-size: 16px;
	color: #999999;
}

.releaseDate {
	color: #999999;
	font-size: 16px;
}


/*カートイン背景装飾*/

#cart_in_box {
	float: right;
	position:relative;
	top:0;
	background-color: #f7f7f7;
	border-radius: 20px;

	width:25%;
	height:300px;
}


#cart_in_box ul li {
	list-style: none;
}

/*枚数選択ボックスの調整*/
.byCount {
	width: 85%;
	height: 50px;
	margin-left: -30px;
	border-radius: 4px;
	background: #ffffff;
	position: absolute;
	top: 20px;
	left: 50px;
	font-size: 1.3vw;
}

/*枚数選択の文字装飾*/
.byCount select {
	margin-left: 2.5vw;
	font-size: 25px;
	font-family: "Meiryo", sans-serif;
	color: #333333;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 8px 38px 8px 30px; /* 数字の位置(上右下左) */
}

.byCount select::-ms-expand {
	display: none;
}

.pulldown { /* プルダウン範囲 */
	width: 80%;
	z-index: 2;
}

.mai { /* 文字“枚数”の設定 */
	position: absolute;
	top: 13px;
	z-index: 1;
	font-size: 1.3vw;
}

/*枚数選択プルダウンマーク（▼）の装飾*/
.byCount::before {
	position: absolute;
/* 	top: 1em; */
	right: 0.9em;
	width: 0;
	height: 0;
	margin-top:1em;
	padding: 0;
	content: '';
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #666666;
	pointer-events: none;
}

/* 価格エリア */
.byPrice {
	clear: both;
	color: #333333;
	font-size: 1.3vw;
	position: absolute;
	top: 120px;
	left: 21px;
}

.byPrice span.yen { /* ○○円の装飾 */
	font-size: 1.5vw;
	font-weight: bold;
	margin-left: 25px;
}

/* カートに入れるボタン */
.cart_submit_btn {
	width: 85%; /*ボタンの横の長さ*/
	height: 40px; /*ボタンの縦の長さ*/
	font-size: 1.5vw; /*ボタン文字サイズ*/
	color: #FFF; /*ボタン文字の色*/
	background: #ed7d22; /*ボタンの色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	position: absolute;
	top: 200px;
	left: 20px;
}
/*ボタンをクリックしたときのCSS*/
.cart_submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}



.store_info_area{
	margin-top:400px;
}


.store_info_box {
	border-collapse: collapse; /* 隣り合うセルの線を結合*/
}


.storeinfomation {
	font-size: 18px;
	border-left: 3px solid #ed7d22;
	padding:0 0 0 10px;
	font-weight: 700;
	text-align: left;

	margin-bottom:5px;
}

th.local {
	font-weight: 100;
	border: solid 2px #999999;
	background: #f7f7f7;
	padding: 7px;
	width: 100px;
	min-width: 100px;
	text-align: center;
}

th.local1 {
	font-weight: 100;
	border: solid 2px #999999;
	width: 500px;
	min-width: 500px;
	text-align: left;
	padding-left: 5px;
}




/* おすすめピックアップ */
#pickUp {
	clear: both;
	width: 100%;
	height: 300px;
	border-radius: 10px;

	margin-top:50px;
}

.pickup_title {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.recommend-box {
	float: left;
	margin: 1vw;
	width:30%;
	heigth:120px;
}

.recommend-box img:hover {
	opacity: 0.7;
	cursor: pointer;
}

.pickup_img img {
	margin-left:1vw;
	width: 90%;
	height: 100px;
	border: 0.8px solid #f7f7f7;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	object-fit: cover;
}

.pickup_img:active {
	transform: translateY(1px);
}

.pickup-Name {

	margin-left:1vw;
	font-weight: bold;
	text-align: center;
	width:90%;
	font-size:1.2vw;
}