@CHARSET "UTF-8";

body {
	font-family: Meiryo;
}

.recommend-box {
	float:left;
}

.item-image-box-320{
	width:750px;
	height:400px;
}

.item-image-box-100 {
	width:330px;
	height:260px;
	margin-right: 7px;

}

.left {
	width:60%;
	display: inline-block;
	background-color: #ffffff;
	border-right: 2px solid #c0c0c0;
}

.submit_btn_box{
	display: inline-block;
	width: 30%;
	background-color: #ffff00;
	position: relative;
	bottom: 330px;
	text-align: center;
}

.a {
	text-align: center;
	display: inline;
}


.submit_btn {
	width: 200px;/*ボタンの横の長さ*/
	height:40px;/*ボタンの縦の長さ*/
	/* display: inline-block; 多分要らないかも*/
	font-size:20px;/*ボタン文字サイズ*/
	color: #FFF;/*ボタン文字の色*/
	background: #ed7d22; /*ボタンの色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);/*ボタンの影（立体感）*/
	border: solid 2px #d27d00;/*ボタンの立体感を出すため*/
}

.2column-container{
	display:inline-block;
}

.bigbox {
	width: 100%;
	display: inline-block;
}

#contents{
	width: 70%;
}

.productNameKana {
	font-size: 12px;
}

.daimei{
	font-size: 22px;
	font-weight: bold;
}

.naiyou{
	font-size: 16px;
}

.releaseCompany {
	padding-top: 40px;
	font-weight:100;
	font-size: 16px;
	color: #999999;
}

.releaseDate {
	color: #999999;
	font-size: 16px;
}

.storeinfomation{
	font-size: 18px;
	border-left:  3px solid #ed7d22;
	padding-left: 10px;
	font-weight: 700;
}

table.store-information {
	border: 2px solid #999999;
	border-collapse: collapse; /* 隣り合うセルの線を結合 */
}



th.local {
	font-weight: 100;
	border-top: solid 2px #999999;;
	border-bottom: solid 2px #999999;;
	background: #d9d9d9;
}

th.local1{
	font-weight: 100;
	border-top: solid 2px #999999;;
	border-bottom: solid 2px #999999;;

}


