@CHARSET "UTF-8";


#contents {
	text-align: center;
}

#contents h1 {
	font-family: "メイリオ", sans-serif;
	font-size: 30px;
	text-align: center;
	margin: 0;
}

#contents .table {
	font-family: "メイリオ", sans-serif;
	font-size: 18px;
	color: #333333;
	text-align: center;
	background-color: #f7f7f7;
	width: 600px;
	border-radius: 20px;
	margin: auto;
	padding: 8px;
}

#contents ul{
	padding-left: 0;
}

#contents li{
	list-style: none;
	margin: 16px;
}

#contents label {
	border-bottom: solid 3px #ed7d22;
	font-weight: bold;
}
