@CHARSET "UTF-8";

#contents {
	font-family: "メイリオ", sans-serif;
	text-align: center;
	color: #333;
	margin-top: 160px;
}



#contents h1 {
	font-size: 30px;

}

#contents p {
	font-size: 18px;
}