@CHARSET "UTF-8";

#main {
	font-family: "メイリオ", sans-serif;
	text-align: center;
	color: #333;
}

#contents{
margin-top: 80px;
text-align: center;
width: 600px;
}
}



h1 {
	font-size: 30px;
	vertical-align: middle;
}

p {
	font-size: 18px;
}