@CHARSET "UTF-8";

body {
	width: 100%;
	font-family: 'メイリオ', sans-serif;
	font-size: 18px;
	color: #333333;
}

#contents{
	text-align: center;
	width: 600px;
}

h1 {
	font-size: 30px;
	margin: 0;

}

.txt{
	width: 469px;
	height: 40px;
	font-size: 18px;
	background-color: #f7f7f7;
	border-radius: 5px; 	/*角を丸く*/

}


/*placeholder 色変更*/

.txt::-webkit-input-placeholder {
	color: #aaaaaa;
}

.txt::-moz-placeholder {
	color: #aaaaaa;
}

.txt:-ms-input-placeholder {
	color: #aaaaaa;
}




.vertical-list-table {	/*テキストボックス中央寄せ*/
	margin: auto;
}

.error-message {		/*エラーメッセージ*/
	font-size: 12px;
	color: #ed7d22;
}



