@CHARSET "UTF-8";

#contents {
		   margin: 0;
		  padding: 0;
	  line-height: 1.6;
   letter-spacing: 1px;
	  font-family: メイリオ ", sans-serif;
		font-size: 18px;
	   text-align: center;
		   margin: 0 : auto;
}

.noMassage {
		font-size: 30px;
	  font-weight: bold;
	margin-bottom: 10px;
	 padding-left: 35px;
}

.info{
	   margin-top:0;
		font-size: 30px;
	  font-weight: bold;
}

.submit_btn {
			width: 200px;				/*ボタンの横の長さ*/
		   height: 40px;				/*ボタンの縦の長さ*/
		font-size: 20px; 				/*ボタン文字サイズ*/
 background-color: #ed7d22; 			/*ボタンの色*/
			color: #FFF; 				/*ボタン文字の色*/
	border-radius: 20px;				/*ボタンの角の丸み*/
	   box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
	rgba(0, 0, 0, 0.05); 				/*ボタンの影（立体感）*/
		   border: solid 2px #d27d00;	/*ボタンの立体感を出すため*/
		  outline: 0;					/*変な枠線を非表示に*/
		   cursor: pointer; 			/*マウスを乗せたとき指マークにする*/
}

.submit_btn:active {
		transform: translateY(2px);		/*下に動かす*/
 background-color: #f3a769;				/*薄いオレンジ色にする*/
		   border: #ed7d22;				/*枠線の色変更*/
}

.horizontal-list-table {
		   margin: 2em 0;
		  padding: 2em;
			width: 600px;
	border-radius: 20px;
		   margin: auto;
		 position: relative;
 background-color: #f7f7f7;
}

.orangeBorder {
	border-bottom: solid 3px #ffa623;
		  display: inline-block;
		  padding: 0 15px 0 15px;
}

.clickRadio label {
	  line-height: 28px;
		  display: inline-block;
		   cursor: pointer;
		 position: relative;
			  top: 110px;
}

.clickRadio input[type=radio]{
		transform: scale(2,2);
}

.clickRadio input[type="radio"]:checked {
		  content: '';
			width: 14px;	/* マークの横幅 */
		   height: 14px;	/* マークの縦幅 */
}
