@charset "UTF-8";

/* reset css */
body, html {
	margin: 0;
	padding: 0;
	/* width: 1400px; */
	max-width: 1400px;
	min-width: 1000px;
	height: 100%;
	margin: 0 auto;
	font-family: "メイリオ", sans-serif;
	color: #333333;
}

/* micro clearfix */
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* layout */

header {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

#header-container {
	display: flex;
	height: 70px;

	position:relative;
}

#header-container .logo{
	flex: 1;
	height: 70px;
	background-color: #f7f7f7;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;

}
/*ロゴ画像の装飾*/
header .logo img {
	width: auto;
	height: 70px;
	margin-left: 20px;
	/* display: block; */
	z-index:3;
}


/* ***P*** */

.logoP-clear img {
	width: auto;
	height: 60px;
	display: block;
	position:absolute;
	top:3.3px;
	left:186.5px;
	z-index:1;
	filter:brightness(0);
}

.logoP img {
	width: auto;
	height: 60px;
	display: block;
	position:absolute;
	top:3.3px;
	left:186.5px;
	z-index:5;
	/* transition-property: transform; */
}

.logoP img:hover{
	transition-duration: 3s;
	transform:translateY(700px) rotate(90deg);
}
.logoP img:hover + .logoP-clear img{
	z-index:10;
}

/* ヘッダーメニュー */
.header-menu{
	margin: 0;
	margin-right: 10px;
	padding: 0;
	position:relative;
	border-radius: 10px;
}

/* ヘッダーアイコン装飾 */
header .menu-button {
	position: relative;

	float: left;
	margin-left: 10px;

	background-color: #ed7d22;
	width: 69px;
	height: 69px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .menu-button a {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-radius: 10px;

	text-decoration: none;
    /* text-indent:-999px; */
}

/* アイコン画像装飾 */
header .icon img {
	width: 51px;
	height: 51px;
	padding:10px;
	background-color:#f7f7f7;
	border-radius: 10px;
}

/* ホバー時のテキスト装飾 */
.menu-button .message{
	color:#fff;
	margin-top:50px;
	text-align:center;
	display:none;
	border-radius: 10px;
}
.mypage .message{
	font-size:13px;
}


/* アイコンのhoverアクション */
.menu-button:hover > .message{
	display:block;
}
.menu-button:hover > .icon img{
	width:50px;
	height:50px;
	padding:0 10px;

}

/* ログ共通装飾 */
header .menu-button span{
	color: white;
	font-weight: bold;
	text-decoration: none;
	line-height:70px;
}

/* ログインボタン装飾 */
header .login {
	float: left;
	background-color: #ed7d22;
	width: 100px;
	height: 70px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ログアウトボタン装飾 */
header .logout {
	float: left;
	background-color: #aaaaaa;
	width: 100px;
	height: 70px;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}







/*ナビゲーション*/

/*検索ボタン*/
.submit_btn {
	width: 200px; /*ボタンの横の長さ*/
	height: 40px; /*ボタンの縦の長さ*/
	font-size: 20px; /*ボタン文字サイズ*/
	background-color: #ed7d22; /*ボタンの色*/
	color: #FFF; /*ボタン文字の色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	margin-top:10px;
}
/*ボタンを押した時*/
.submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}

.pullDown{
	position:relative;
	left:15px;
width: 170px;
	z-index: 2;}

#navigation .submit_btn{
	margin-top: 20px;
	margin-left: 15px;
}

/*「日にちを選ぶ」の文字装飾*/
#navigation h3 {
	margin-top: -25px;
	font-size: 18px;
	color: #333333;
	margin-left: 65px;
}
/*「いつでも」入力欄装飾*/
#date_val{
	width: 268px;
	height:45px;
	font-size:15px;
	text-align: center;
	margin-left: 0px;
	margin-bottom: 4px;
	border-radius: 4px;
	background: #ffffff;
	font-size: 20px;
	border-style: none;
}
/*日付指定しないボタン*/
.date_val_button{
	width:270px;
	height: 25px;
	background-color: #f6a828; /*ボタンの色*/
	border-radius: 4px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	color: #fff;
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
}
/*日付指定ボタンを押した時*/
.date_val_button:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3bb82; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}



#main {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

/*ナビゲーション背景装飾*/
#navigation {
	float: left;
	background-color: #F7F7F7;
	border-radius: 20px;
	width: 310px;
	margin-left: 10px;
}

/*コンテンツの全体調整*/
#contents {
	float: left;
	/* width: 1050px; */
	/* width: 70%; */
	max-width: 1010px;
	min-width: 610px;
	margin-left: 20px;
	margin-right: 10px;
	flex: 1;
}

#navigation ul li {
	list-style: none;
}

/*フリー検索装飾*/
.keywords input {
	height: 50px;
	width: 268px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
	font-family: "Meiryo", sans-serif;
	margin-left: -20px;
	border-style: none;

}
/*場所検索ベース装飾*/
.placeId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	border: none;
	outline: none;
}
/*場所検索の文字装飾*/
.placeId select {
	margin-left: 25px;
	font-size: 19px;
	font-family: "Meiryo", sans-serif;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.placeId select::-ms-expand {
	display: none;
}
/*場所検索のボックス幅の調整*/
.placeId.cp_sl01 {
	width: 268px;
	height: 50px;
	margin-left: -20px;
	position: relative;
	border-radius: 4px;
	background: #ffffff;
}
/*場所検索のプルダウンマーク（▼）の装飾*/
.placeId.cp_sl01::before {
	position: absolute;
	top: 0.7em;
	right: 0.7em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}

.placeId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
/*カテゴリー検索ベース装飾*/
.categoryId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	height: 50px;
	font-size: 20px;
	margin-top: -40px;
	border: none;
	outline: none;
}
/*カテゴリー検索の文字装飾*/
.categoryId select {
	margin-left: 50px;
	font-size: 19px;
	text-align: center;
	width: 230px;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	margin-top: 3px;
}

.categoryId select::-ms-expand {
	display: none;
}
/*カテゴリー検索のボックス幅の調整*/
.categoryId.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	border: none;
	outline: none;
	border-radius: 4px;
	width: 268px;
	height: 50px;
	margin-left: -20px;
}

/*カテゴリー検索のプルダウンマーク（▼）の装飾*/
.categoryId.cp_sl01::before {
	position: absolute;
	top: 1.1em;
	right: 1em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}

.categoryId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/*カレンダーの位置調整*/
.targetDate{
	margin-left: -20px;
	margin-top: -10px;
}

footer {
	text-align: center;
	background-color: #F7F7F7;
	height: 35px;
	line-height: 35px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

