@charset "UTF-8";

/* reset css */
body, html {
	margin: 0;
	padding: 0;
	width: 1400px;
	height: 100%;
	margin: 0 auto;
	font-family: "メイリオ", sans-serif;
}

/* micro clearfix */
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* layout */

#main {
	width: 100%;
	margin: 0 auto;
}

header {
	width: 1400px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#header-container {
	display: flex;
	height: 70px;
}

#header-container .logo{
	flex: 1;
	height: 70px;
	background-color: #f7f7f7;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
/*ロゴ画像の装飾*/
header .logo img {
	width: auto;
	height: 70px;
	margin-left: 20px;
	display: block;
}

#header-container ul{
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

#header-container ul li{
	float: left;
	list-style: none;
	margin-left: 10px;
}

/*商品一覧のアイコン装飾*/
header .ticket {
	float: left;
	background-color: #f7f7f7;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*商品一覧アイコンの画像装飾*/
header .ticket img {
	width: 45px;
	height: 45px;
}

/*マイページのアイコン装飾*/
header .mypage {
	float: left;
	background-color: #f7f7f7;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* マイページのアイコン画像装飾 */
header .mypage img {
	width: 45px;
	height: 45px;
}
/* カートのアイコン装飾 */
header .cart {
	float: left;
	background-color: #f7f7f7;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* カートのアイコン画像装飾 */
header .cart img {
	width: 45px;
	height: 45px;
}
/* ログインボタン装飾 */
header .login {
	float: left;
	background-color: #ed7d22;
	width: 100px;
	height: 70px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .login a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* ログアウトボタン装飾 */
header .logout {
	float: left;
	background-color: #aaaaaa;
	width: 100px;
	height: 70px;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .logout a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/*ナビゲーション*/

/*検索ボタン*/
.submit_btn {
	width: 200px; /*ボタンの横の長さ*/
	height: 40px; /*ボタンの縦の長さ*/
	font-size: 20px; /*ボタン文字サイズ*/
	background-color: #ed7d22; /*ボタンの色*/
	color: #FFF; /*ボタン文字の色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	margin: 0 auto;
}
/*ボタンを押した時*/
.submit_btn:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3a769; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}

#navigation .submit_btn{
	margin-top: 20px;
	margin-left: 15px;
}

/*「日にちを選ぶ」の文字装飾*/
#navigation h3 {
	margin-top: -25px;
	font-size: 18px;
	color: #333333;
	margin-left: 65px;
}
/*「いつでも」入力欄装飾*/
#date_val{
	width: 268px;
	height:45px;
	font-size:15px;
	text-align: center;
	margin-left: 0px;
	margin-bottom: 4px;
	border-radius: 10px;
	background: #ffffff;
	font-size: 20px;
	border-style: none;
}
/*日付指定しないボタン*/
.date_val_button{
	width:270px;
	height: 25px;
	background-color: #f6a828; /*ボタンの色*/
	border-radius: 4px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	color: #fff;
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
}
/*日付指定ボタンを押した時*/
.date_val_button:active {
	transform: translateY(2px); /*下に動かす*/
	background-color: #f3bb82; /*薄いオレンジ色にする*/
	border: #ed7d22; /*枠線の色変更*/
}
/*ナビゲーション背景装飾*/
#navigation {
	float: left;
	background-color: #F7F7F7;
	border-radius: 20px;
	width: 310px;
	margin-left: 10px;
}

/*コンテンツの全体調整*/
#contents {
	float: right;
	width: 1050px;
	/* width: 70%;
	max-width: 1040px; */
	margin-left: 20px;
	margin-right: 10px;
}

#navigation ul li {
	list-style: none;
}

/*フリー検索装飾*/
.keywords input {
	height: 50px;
	width: 268px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	font-family: "Meiryo", sans-serif;
	margin-left: -20px;
	border-style: none;

}
/*場所検索ベース装飾*/
.placeId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	border: none;
	outline: none;
}
/*場所検索の文字装飾*/
.placeId select {
	margin-left: 25px;
	font-size: 19px;
	font-family: "Meiryo", sans-serif;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.placeId select::-ms-expand {
	display: none;
}
/*場所検索のボックス幅の調整*/
.placeId.cp_sl01 {
	width: 268px;
	height: 50px;
	margin-left: -20px;
	position: relative;
	border-radius: 10px;
	background: #ffffff;
}
/*場所検索のプルダウンマーク（▼）の装飾*/
.placeId.cp_sl01::before {
	position: absolute;
	top: 0.7em;
	right: 0.7em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}

.placeId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
/*カテゴリー検索ベース装飾*/
.categoryId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	height: 50px;
	font-size: 20px;
	margin-top: -40px;
	border: none;
	outline: none;
}
/*カテゴリー検索の文字装飾*/
.categoryId select {
	margin-left: 50px;
	font-size: 19px;
	text-align: center;
	width: 230px;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	margin-top: 3px;
}

.categoryId select::-ms-expand {
	display: none;
}
/*カテゴリー検索のボックス幅の調整*/
.categoryId.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	border: none;
	outline: none;
	border-radius: 10px;
	width: 268px;
	height: 50px;
	margin-left: -20px;
}

/*カテゴリー検索のプルダウンマーク（▼）の装飾*/
.categoryId.cp_sl01::before {
	position: absolute;
	top: 1.1em;
	right: 1em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}

.categoryId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/*カレンダーの位置調整*/
.targetDate{
	margin-left: -20px;
	margin-top: -10px;
}

footer {
	text-align: center;
	width: 1400px;
	background-color: #F7F7F7;
	height: 35px;
	line-height: 35px;
    margin-top: 100px;
    border-radius: 4px;
}

