@charset "UTF-8";

/* reset css */
body, html {
	margin: 0;
	padding: 0;
	width: 1400px;
	height: 100%;
	margin: 0 auto;
}

/* micro clearfix */
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* layout */

#main {
	width: 100%;
	margin: 0 auto;
}

header {
	width: 1400px;
	margin-top: 10px;
}

#header-container.cf {
	clear: both;
}

header .logo {
	float: left;
}

header .header_menu {
	float: right;
	border-right: -50px;
	display: flex !important; /* ボタン右寄せ */
	justify-content: flex-end; /* ボタン右寄せ */
}

header .header_menu li {
	float: left;
	list-style: none;
	margin-left: 10px;
}
/*ヘッター背景*/
.logo {
	float: left;
	background-color: #F7F7F7;
	width: 1070px;
	height: 70px;
	margin-left: 10px; margin-bottom : 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}
/*ロゴ画像の装飾*/
.logo img {
	width: auto;
	height: 70px;
	margin-left: 20px;
}
/*商品一覧のアイコン装飾*/
.ticket {
	float: left;
	background-color: #F7F7F7;
	width: 70px;
	height: 70px;
	margin-top: -15px;
	margin-left: -50px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*商品一覧アイコンの画像装飾*/
.ticket img {
	width: 45px;
	height: 45px;
}
/*マイページのアイコン装飾*/
.mypage {
	float: left;
	background-color: #F7F7F7;
	width: 70px;
	height: 70px;
	margin-top: -15px;
	text-align: center;
	color: white;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypage img {
	width: 45px;
	height: 45px;
}
/*マイページのアイコン画像装飾*/
.mypage img {
	width: 45px;
	height: 45px;
}
/*カートのアイコン装飾*/
.cart {
	float: left;
	background-color: #F7F7F7;
	width: 70px;
	height: 70px;
	margin-top: -15px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*カートのアイコン画像装飾*/
.cart img {
	width: 45px;
	height: 45px;
}
/*ログインボタン装飾*/
.login {
	float: left;
	background-color: #ed7d22;
	width: 100px;
	height: 70px;
	margin-top: -15px;
	font-size: 20px;
	font-family: "メイリオ", sans-serif;
	text-align: center;
	color: white;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*ログアウトボタン装飾*/
.logout {
	float: left;
	background-color: #AAAAAA;
	width: 100px;
	height: 70px;
	margin-top: -15px;
	font-size: 20px;
	font-family: "メイリオ", sans-serif;
	text-align: center;
	color: white;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

/*ナビゲーション*/

/*検索ボタン*/
.submit_btn {
	width: 200px; /*ボタンの横の長さ*/
	height: 40px; /*ボタンの縦の長さ*/
	/* display: inline-block; 多分要らないかも*/
	font-size: 20px; /*ボタン文字サイズ*/
	background-color: #ed7d22; /*ボタンの色*/
	color: #FFF; /*ボタン文字の色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	margin-top: 20px;
	margin-left: 20px;
}

/*「日にちを選ぶ」の文字装飾*/
#navigation h3 {
	margin-top: -25px;
	font-size: 18px;
	color: #333333;
	margin-left: 65px;
}
/*「いつでも」入力欄装飾*/
#date_val{
	width: 120px;
	height:20px;
	font-size:15px;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
}
.date_val_button{
	width:110px;
	height: 25px;
	/* background-color: red; */
	background-color: #ed7d22; /*ボタンの色*/
	border-radius: 20px; /*ボタンの角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影（立体感）*/
	border: solid 2px #d27d00; /*ボタンの立体感を出すため*/
	outline: 0; /*変な枠線を非表示に*/
	cursor: pointer; /*マウスを乗せたとき指マークにする*/
	color: #fff;
}


/*ナビゲーション背景装飾*/
#navigation {
	float: left;
	background-color: #F7F7F7;
	border-radius: 20px;
	width: 310px;
	margin-left: 10px;
}

/*コンテンツの全体調整*/
#contents {
	float: right;
	width: 70%;
	max-width: 1040px;
	margin-right: 55px;
}

#navigation ul li {
	list-style: none;
}

/*フリー検索装飾*/
.keywords input {
	height: 50px;
	width: 230px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	font-family: "Meiryo", sans-serif;
	margin-left: 0px;
	border-style: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/*場所検索ベース装飾*/
.placeId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	border: none;
	outline: none;
}
/*場所検索の文字装飾*/
.placeId select {
	margin-left: 25px;
	font-size: 19px;
	font-family: "Meiryo", sans-serif;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.placeId select::-ms-expand {
	display: none;
}
/*場所検索のボックス幅の調整*/
.placeId.cp_sl01 {
	width: 230px;
	height: 50px;
	margin-left: 0px;
	position: relative;
	border-radius: 10px;
	background: #ffffff;
}
/*場所検索のプルダウンマーク（▼）の装飾*/
.placeId.cp_sl01::before {
	position: absolute;
	top: 0.7em;
	right: 0.7em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}

.placeId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
/*カテゴリー検索ベース装飾*/
.categoryId {
	overflow: hidden;
	margin: 2em auto;
	text-align: center;
	height: 50px;
	font-size: 20px;
	margin-top: -40px;
	border: none;
	outline: none;
}
/*カテゴリー検索の文字装飾*/
.categoryId select {
	margin-left: 20px;
	font-size: 19px;
	text-align: center;
	width: 230px;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	margin-top: 3px;
}

.categoryId select::-ms-expand {
	display: none;
}
/*カテゴリー検索のボックス幅の調整*/
.categoryId.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	border: none;
	outline: none;
	border-radius: 10px;
	width: 230px;
	height: 50px;
	margin-left: 0px;
}

/*カテゴリー検索のプルダウンマーク（▼）の装飾*/
.categoryId.cp_sl01::before {
	position: absolute;
	top: 1.1em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666666;
	pointer-events: none;
}


.categoryId.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/*カレンダーの位置調整*/
.targetDate{
	margin-left: -20px;
	margin-top: -10px;
}

footer {
	text-align: center;
	width: 1400px;
	background-color: #F7F7F7;
	height: 35px;
	line-height: 35px;
    margin-top: 100px;
}

